/*---------------variables---------------*/
$fondoCompleto: #BA9A7F;
$colorNav: #E0BA99;
$colorText: #246d24;
$colorArt:#97826e;
$colorH1: #74573f;
$textH1: 'Dancing Script', cursive;
$textH2:'Mochiy Pop One', sans-serif;
$textP: 'Quicksand', sans-serif;
/*----------------------fin variables-------------------*/
