/*---------------variables---------------*/
/*----------------------fin variables-------------------*/
/*-------------------------------principales, se repiten en todas las paginas------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #BA9A7F;
  height: 100vh;
}

header {
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  width: 100%;
}
header .navbar {
  margin: 2% 2%;
  background-color: #E0BA99;
  box-shadow: 5px 5px 10px #246d24;
}
header .navbar ul li a {
  text-decoration: none;
  color: #246d24;
  text-align: center;
}
header .navbar ul li a:hover {
  text-shadow: 2px 2px 2px white;
  color: black;
}
header .navbar img {
  width: 100px;
  height: auto;
}

.boton-categoria {
  background-color: transparent;
  border: none;
  color: #246d24;
}

.boton-categoria:hover {
  text-shadow: 2px 2px 2px white;
  color: #000;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #E0BA99;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 1.25rem;
  padding: 2% 5%;
}
footer i {
  padding: 5px 15px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2.5rem;
  margin: 3%;
}

p {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  line-height: 2.5rem;
}

span {
  text-shadow: 2px 2px 2px white;
  color: #000;
}

h5 {
  text-align: center;
  color: #246d24;
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 1.25rem;
}

/*---------------------------fin principales---------------------*/
/*articulos*/
.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 2%;
}

.producto-detalles {
  background-color: #97826e;
  color: #246d24;
  width: 300px;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  font-family: "Quicksand", sans-serif;
  box-shadow: 5px 5px 5px rgb(41, 39, 39);
}

.producto-imagen {
  width: 300px;
  height: 200px;
  padding: 10px;
  border: 5px;
}

.producto-agregar {
  font-size: 1.5rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.producto-agregar:hover {
  text-shadow: 2px 2px 2px white;
  color: #000;
}

.subir-section {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 1;
}
.subir-section .subir-btn {
  background-color: #246d24;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  transform: translate(-50%, -50%);
}
.subir-section .subir-btn i {
  position: absolute;
  font-size: 5.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: black;
  transition: 0.5s;
}

.show .subir-btn {
  -webkit-animation: subir 0.5s ease-in-out;
          animation: subir 0.5s ease-in-out;
  width: 6rem;
  height: 6rem;
}
.show .subir-btn i {
  transform: translate(-50%, -50%) scale(1);
}

/*------------------------------------------------------------------------------*/
/*carrito*/
.contenedor-carrito {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: auto;
}

.carrito-comprado {
  display: none;
}

.carrito-productos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  margin: auto;
}

.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.carrito-producto-imagen {
  width: 150px;
}

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: red;
}

.carrito-acciones {
  display: flex;
  justify-content: space-around;
  margin: 2%;
  border: 1px solid black;
  border-radius: 10px;
  color: #246d24;
  background-color: transparent;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
}

.carrito-acciones:hover {
  color: black;
  background-color: #246d24;
  padding: 10px;
}

.carrito-acciones-vaciar {
  background-color: transparent;
  border: none;
}

.carrito-acciones-vaciar:hover {
  text-shadow: 2px 2px 2px black;
  color: white;
}

.carrito-acciones-derecha {
  display: flex;
  gap: 15px;
}

.carrito-acciones-izquierda {
  display: flex;
  align-items: center;
}

.carrito-acciones-total {
  display: flex;
  border: 0;
  gap: 10px;
}

.carrito-acciones-total p {
  margin: 0;
  padding: 0;
}

.carrito-acciones-comprar {
  background-color: transparent;
  border: none;
}

.carrito-acciones-comprar:hover {
  text-shadow: 2px 2px 2px black;
  color: white;
}

.disabled {
  display: none;
}

/*-------------------------------------------------------------*/
/*-------------------------contactos-----------------------*/
section.contacto {
  width: 80%;
  height: auto;
  background-image: url(../Recursos/fondocontacto.jpg);
  margin: 0 auto 2%;
  border: 3px solid black;
  border-radius: 100px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}
section.contacto form fieldset.texContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.contacto form fieldset legend {
  background-color: #BA9A7F;
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 100px;
}
section.contacto form fieldset label {
  background-color: #BA9A7F;
  width: auto;
  height: auto;
  border-radius: 100px;
  padding: 5px;
}
section.contacto form fieldset input {
  text-align: center;
  border-radius: 100px;
  width: 80%;
  padding: 10px 0;
  margin: 1% 0;
  background-color: #BA9A7F;
  color: #246d24;
}
section.contacto form fieldset textarea {
  margin: 1% 0;
  width: 80%;
  height: 100px;
  padding: 20px 20px;
  border-radius: 50px;
  background-color: #BA9A7F;
  color: #246d24;
  text-align: center;
}
section.contacto .btn--default {
  margin: 10px auto;
  width: 500px;
  font-size: 2rem;
  font-family: "Dancing Script", cursive;
  background-color: #BA9A7F;
  border-radius: 10px;
}
section.contacto .btnUno :hover {
  background-color: rgb(16, 92, 16);
  color: white;
}
section.contacto .btnDos :hover {
  background-color: rgb(126, 22, 22);
  color: white;
}

/*---------------------------------fin contacto------------------------*/
/*-------------------------------------medias----------------------------------------------------*/
@media (min-width: 320px) and (max-width: 768px) {
  body {
    height: 100vh;
  }
  body header {
    font-size: 1.2rem;
  }
  body header .navbar {
    box-shadow: none;
  }
  body header .navbar img {
    width: 50px;
    height: auto;
  }
  body p {
    font-size: 1rem;
    line-height: normal;
    margin: 3%;
  }
  body h2 {
    font-size: 1.3rem;
  }
  body h5 {
    font-size: 1.2rem;
  }
  body main.inicio {
    width: 90%;
  }
  body main.inicio h1 {
    font-size: 2rem;
  }
  body main.inicio img {
    height: 200px;
  }
  body section.inicio {
    width: 90%;
    margin-left: auto;
  }
  body aside.inicio .carousel {
    width: 90%;
    height: auto;
    margin: 1% 0;
  }
  body .carrito-producto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    background-color: #97826e;
  }
  body .carrito-producto-imagen {
    width: 100px;
    margin: auto;
    padding-top: 10px;
  }
  body .carrito-acciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
    font-size: 1rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  footer {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 1200px) {
  main.inicio {
    width: 90%;
  }
  main.inicio h1 {
    font-size: 2rem;
  }
  main.inicio img {
    height: 200px;
  }
  section.inicio {
    width: 90%;
    margin-left: auto;
  }
  section.contacto {
    width: 90%;
    height: auto;
  }
  section.contacto #contacto {
    margin-top: 10%;
  }
  section.contacto form fieldset input {
    width: 90%;
  }
  section.contacto form fieldset textarea {
    width: 90%;
  }
  section.contacto .btn--default {
    width: 250px;
  }
  section.contacto .btnDos {
    margin-bottom: 10%;
  }
}
@media (min-width: 625px) and (max-width: 960px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2%;
  }
}
@media (min-width: 320px) and (max-width: 625px) {
  .contenedor-productos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2%;
  }
}
/*-------------------------------------fin medias-------------------------------------------------*/
/*------------------inicio------------------*/
main.inicio {
  margin: 1% auto;
}
main.inicio h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 4.5rem;
  color: #74573f;
}
main.inicio img {
  width: 100%;
  height: 450px;
}

section.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

aside.inicio .tamanoGifs {
  display: flex;
  width: 50%;
  height: 500px;
  margin: auto;
  margin-bottom: 1%;
}

.modal-container {
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: rgba(87, 83, 83, 0.586);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  font-family: "Quicksand", sans-serif;
}

.my-modal {
  background-color: #E0BA99;
  border-radius: 10px;
  width: 500px;
  height: auto;
  padding: 10px;
}

#input-nombre {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.modal-container-active {
  display: none;
}

/*------------------ fin inicio------------------*/
/*-----------------------------grids----------------------------------------------------*/
div#contenedorIc { /*inicio, contacto*/
  display: grid;
  grid-template-areas: "header header" "main main" "section aside" "footer footer";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

section {
  grid-area: section;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

/*------------------------------------fin grids-------------------------------------*//*# sourceMappingURL=style.css.map */